*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/modules.xml
.idea/deploymentTargetDropDown.xml
.idea/kotlinc.xml
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/appInspectionProfiles.xml
*.hprof
.idea/render.xml
.idea/deploymentTargetSelector.xml
.idea/usage.statistics.xml
.idea/shelf
.idea/inspectionProfiles
.idea/assetWizardSettings.xml
.idea/material_theme_project_new.xml
.idea/editor-font.xml
.idea/libraries
.idea/caches
.idea/workspace.xml
.idea/navEditor.xml
/.idea/AndroidProjectSystem.xml
/.idea/markdown.xml
